extends layout

block content
  #players
    #playersTable
    #loader
  #clouds
    .cloud.x1
    .cloud.x2
    .cloud.x3
    .cloud.x4
    .cloud.x5
    #game
        canvas#cns

  script
    var game = new Bomberman.Game(JAK.gel("players"));
    JAK.ServiceLocator.addService("audio", new Bomberman.Audio());
    JAK.ServiceLocator.addService("socket", new Bomberman.SocketIO('http://localhost'));

    
    var bombermanSocketIO = JAK.ServiceLocator.getService("socket");
    var socket = bombermanSocketIO.getSocket();

    socket.on('afterConnect', function(player, players){
        //bombermanSocketIO._serverReturnPlayer(player);
    });

    // zobraz vsechny pripojene hrace
    socket.on('players', function(players){
        game.playersUpdate(players);
    });
    // hra zacina
    socket.on('startGame', function(playingPlayers){
        game.start(playingPlayers);
    });
    
    //
    //map.addPlayer(new Bomberman.Player.Human("Bomberman", map));
    //window.setInterval(function(){map.refresh()}, 200);