doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/stylesheets/clouds.css')
    script(src='/javascripts/lib/jak.js')
    script(src='/javascripts/lib/servicelocator.js')
    script(src='/javascripts/lib/creatortable.js')
    script
        var Bomberman = JAK.ClassMaker.makeClass({
            NAME: "Bomberman",
            VERSION: "1.0"
        });
    script(src='/javascripts/Universal.js')
    script(src='/javascripts/BombermanAudio.js')
    script(src='/javascripts/BombermanBox.js')
    script(src='/javascripts/BombermanDoor.js')
    script(src='/javascripts/BombermanStone.js')
    script(src='/javascripts/BombermanRespawn.js')
    script(src='/javascripts/BombermanGame.js')        
    script(src='/javascripts/BombermanMap.js')
    script(src='/javascripts/BombermanMapRender.js')
    script(src='/javascripts/BombermanPlayer.js')
    script(src='/javascripts/BombermanPlayerBomb.js')
    script(src='/javascripts/BombermanPlayerBombExplosion.js')
    script(src='/javascripts/BombermanPlayerHuman.js')
    script(src='/javascripts/BombermanPlayerMonster.js')
    script(src='/javascripts/BombermanSocketIO.js')
    script(src='/socket.io/socket.io.js')
  body
    block content